<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Untitled</title>
        <!--meta name="description" content="">

        <!--link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <link rel="icon" href="data:,">
    </head>
    <body>
        <div class="container-fluid" id="app">

            <div v-if="!authenticated" class="form-group text-center" id="container-signin">
                <div class="jumbotron text-center" id="container-header">
                    <h1>Stack</h1>
                    <h3>Stack your photos in one place</h3>
                </div>
                <div id="form-login">
                    <input class="col-4 mx-auto form-control" type="text" name="username" v-model="input.username" placeholder="Username" />
                    <input class="col-4 mx-auto form-control" type="password" name="password" v-model="input.password" placeholder="Password" />
                    <button class="col-4 btn btn-outline-success" type="button" v-on:click="login()" >Login</button>
                </div>
            </div>
            <div v-else id="container-user-data" class="container-fluid" background-color="blue">
                <div class="navbar  navbar-light bg-light" id="navbar">
                    <img src="" class="img-circle" alt="Profile Image">
                    <h2>Hello {{input.username}}</h2>
                    <button class="form-inline btn btn-outline-primary" type='button' v-on:click="startUpload()" >Upload</button>
                    <button class="form-inline btn btn-outline-primary" type='button' v-on:click="viewProfile()">Profile</button>
                    <button class="form-inline btn btn-outline-danger" type='button' v-on:click="logout()">Logout</button>
                </div>
                <div class="container" id="container-images" v-if="viewImages">
                    <div v-if="imagesData != null" id="imageGrid">
                        <div class='row'>
                        <div v-for="(image, index) in imagesData" class='col-sm-4'>
                            <a v-on:click="selectImage()">
                                <img :src="'static/users/' + image.owner.toString() + '/images/' + image.imageId.toString() + '.' + image.fileType" alt="image" class='img-thumbnail' />
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class='container' id='container-imageSelected' v-if="viewImageSelected">
                </div>
                <div class='container text-center' id="container-upload" v-if="viewUpload">
                    <h2>Upload an image</h2>
                        <div class="input-group mx-auto my-2 ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="input-imageFile-label">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" ref='file' id="input-imageFile" v-on:change="handleImage()" aria-describedby="input-imageFile-label">
                                <label class="custom-file-label" for="input-imageFile">Choose image</label>
                            </div>

                        </div>
                        <input class="form-control mx-auto my-2" type="text" id="input-imageDescription" name="description" placeholder="Optional caption" v-model='uploadData.description' />
                        <button class="col-4 btn btn-outline-success my-2" type="button" v-on:click="uploadImage()">Submit</button>
                </div>

                <div class="container" id="container-userProfile" v-if="viewUserProfile">
			<h2>{{input.username}}</h2>
			<button class="col-4 btn btn-outline-success my-2" type="button" v-on:click="">Upload Profile Image</button>
                        <button class="form-inline btn btn-outline-danger" type='button' v-on:click="viewDeleteUser()">Delete</button>
                </div>
		<div class="container" id="container-userProfile" v-if="confirmDelete">
			<h2>Warning! This will delete your profile! This cannot be undone! Continue?</h2>
			<button class="form-inline btn btn-outline-primary" type="button" v-on:click=cancelDelete()>Cancel</button>
                        <button class="form-inline btn btn-outline-danger" type='button' v-on:click="deleteUser()">Delete</button>
                </div>


            </div>
        </div>

        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->

        <!-- BOOTSTRAP -->


        <!-- VUE -->
        <!-- DEV -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- PRODUCTION -->
        <!--script src="https://cdn/jsdelivr.net/npm/vue"></script-->

        <!-- AXIOS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <!-- CUSTOME -->
        <!--link rel="stylesheet" href="style.css"/ -->
        <script type="text/javascript" src="static/app.js"></script>
    </body>
</html>
