<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Untitled</title>
        <!--meta name="description" content="">

        <!--link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <link rel="icon" href="data:,">
    </head>
    <body>
        <div id="container">
            <div id="app">

                <div v-if="!authenticated" class="form-group text-center" id="signin">
                    <div class="jumbotron text-center" id="header">
                        <h1>Stack</h1>
                        <h3>Stack your photos in one place</h3>
                    </div>
                    <input class="col-4 mx-auto form-control" type="text" name="username" v-model="input.username" placeholder="Username" />
                    <input class="col-4 mx-auto form-control" type="password" name="password" v-model="input.password" placeholder="Password" />
                    <button class="col-4 btn btn-outline-success" type="button" v-on:click="login()" >Login</button>
                </div>
                <div v-else id="user-images" class="container" background-color="blue">
                    <div class="navbar  navbar-dark bg-dark" id="navbar">
                        <h2>Hello {{input.username}}</h2>
                        <button class="form-inline btn btn-outline-danger" type='button' v-on:click="logout()">Logout</button>
                    </div>
                    <div id="images">
                        <p>Hey</p>
                    </div>
                </div>
            </div>

        </div>
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->

        <!-- BOOTSTRAP -->


        <!-- VUE -->
        <!-- DEV -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- PRODUCTION -->
        <!--script src="https://cdn/jsdelivr.net/npm/vue"></script-->

        <!-- AXIOS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <!-- CUSTOME -->
        <!--link rel="stylesheet" href="style.css"/ -->
        <script type="text/javascript" src="static/app.js"></script>
    </body>
</html>
