<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <link rel="icon" href="data:,">
    </head>
    <body>
        <div class="container-fluid" id="app">

            <div v-if="!authenticated" class="form-group text-center" id="container-signin">
                <div class="jumbotron text-center" id="container-header">
                    <h1>Stack</h1>
                    <h3>Stack your photos in one place</h3>
                </div>
                <div id="form-login" class="mx-auto">
                    <input class=" mx-auto form-control" type="text" name="username" v-model="input.username" placeholder="Username" />
                    <input class=" mx-auto form-control" type="password" name="password" v-model="input.password" placeholder="Password" />
                    <button class=" btn btn-block btn-outline-success" type="button" v-on:click="login()" >Login</button>
                </div>
            </div>
            <div v-else id="container-user-data" class="container-fluid" background-color="blue">


                <nav class="navbar navbar-fixed-top navbar-light nav-custom" >
                    <div class="img-cropper-nav">
                        <img v-if="isProfileImage" :src="'static/users/' + signedIn.toString() + '/images/profile.' + profileType" class="img-profile-nav" alt="Profile Image">
                        <img v-else src="static/profileDefault.png" class="img-profile-nav " alt="Profile Image" />
                    </div>
                    <h3 class="ml-2 mr-auto">{{input.username}}</h3>
                    <div id="nav-button-div">
                        <button class="form-inline btn btn-primary  nav-button" type="button" v-on:click="fetchImages()">Images</button>
                        <button class="form-inline btn btn-primary  nav-button" type='button' v-on:click="startUpload()" >Upload</button>
                        <button class="form-inline btn btn-primary  nav-button" type="button" v-on:click="viewProfile()">Profile</button>
                        <button class="form-inline btn btn-danger  nav-button" type='button' v-on:click="logout()">Logout</button>
                    </div>
                    <div id="nav-toggle-div">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </nav>
<div class="collapse" id="navbar-collapse">
                    <div class="nav-custom pr-2 pb-2 pt-0" style="display: flex" >
                        <button class="ml-auto form-inline btn btn-primary  nav-button" type="button" v-on:click="fetchImages()">Images</button>
                        <button class="form-inline btn btn-primary  nav-button" type='button' v-on:click="startUpload()" >Upload</button>
                        <button class="form-inline btn btn-primary  nav-button" type="button" v-on:click="viewProfile()">Profile</button>
                        <button class="form-inline btn btn-danger  nav-button" type='button' v-on:click="logout()">Logout</button>
                    </div>
                </div>



                <div class="container-fluid" id="container-images" v-if="viewImages">
                    <div class="mx-auto"  v-if="imagesData != null" id="imageGrid">
                        <div class="grid-row mx-auto">
                            <div class='grid-column' id="grid-column-1">
                                <div v-for="(image, index) in imagesData" >
                                    <a v-if="index < lengthThird" v-on:click="selectImage(image)">
                                        <img :src="'static/users/' + image.owner.toString() + '/images/' + image.imageId.toString() + '.' + image.filetype" alt="image" class="grid-img" />
                                    </a>
                                </div>
                            </div>
                            <div class='grid-column' id="grid-column-2" v-if="imagesDataLength >= 2">
                                <div v-for="(image, index) in imagesData">
                                    <a v-if="index >= lengthThird && index < lengthTwoThird" v-on:click="selectImage(image)">
                                        <img :src="'static/users/' + image.owner.toString() + '/images/' + image.imageId.toString() + '.' + image.filetype" alt="image" class='grid-img' />
                                    </a>
                                </div>
                            </div>
                            <div class='grid-column' id="grid-column-3" v-if="imagesDataLength >= 3">
                                <div v-for="(image, index) in imagesData">
                                    <a v-if="index >= lengthTwoThird && index < imagesDataLength" v-on:click="selectImage(image)">
                                        <img :src="'static/users/' + image.owner.toString() + '/images/' + image.imageId.toString() + '.' + image.filetype" alt="image" class='grid-img' />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class='form-group text-center' id='container-imageSelected' v-if="viewImageSelected">
                    <div class="container-md mx-auto">
                        <img class=" img-fluid" id="image-selected" :src="'static/users/' + signedIn.toString() + '/images/' + selectedImage.imageId.toString() + '.' + selectedImage.fileType" />
                    </div>
                    <div class="col-4 mx-auto" v-if="selectedImage.isDescription">
                        <h3>{{selectedImage.description}}</h3>
                    </div>
                    <div v-else class="col-4 mx-auto">
                        <h3>{{selectedImage.descriptionDefault}}</h3>
                    </div>
                    <button class="btn btn-outline-success btn-block" v-on:click="downloadImage()">Download</button>
                    <button class="btn btn-outline-danger btn-block" v-on:click="deleteImage()">Delete</button>
                </div>


                <div class='container-fluid text-center' id="container-upload" v-if="viewUpload">
                    <h2>Upload an image</h2>
                    <div class="container my-3" id="upload-container-inner">
                        <div class="input-group mx-auto my-2 ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="input-imageFile-label">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" ref='file' id="input-imageFile" v-on:change="handleImage()" />
                                <label class="custom-file-label" for="input-imageFile">Choose image</label>                               
                            </div>
                        </div>
                        <input class="form-control mx-auto my-2" type="text" id="input-imageDescription" name="description" placeholder="Optional caption" v-model='uploadData.description' />
                        <button class=" btn btn-outline-success btn-block my-2" type="button" v-on:click="uploadImage()">Submit</button>

                    </div>
                </div>


                <div class="container-fluid text-center" id="container-userProfile" v-if="viewUserProfile">
                    <div class="container">
                        <div class="mx-auto my-3" style="height: 200px; width: 200px;">
                            <div class="img-cropper">
                                <img v-if="isProfileImage" :src="'static/users/' + signedIn.toString() + '/images/profile.' + profileType" class="img-profile " alt="Profile Image">
                                <img v-else src="static/profileDefault.png" class="img-profile " alt="Profile Image" />
                            </div>
                        </div>
                        <h2>{{input.username}}</h2>
                    </div>
                    <div class="input-group mx-auto my-2 " id="profile-image-input" >
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="input-imageFile-label">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" ref='file' id="input-profileImage" v-on:change="handleImage()" />
                            <label class="custom-file-label" for="input-imageFile">Choose image</label>
                        </div>
                    </div>
                    <div class="container" id="profile-button-container">

                        <button class="btn btn-block btn-outline-success my-2" type="button" v-on:click="uploadProfileImage">Upload Profile Image</button>
                        <button class="btn btn-block btn-outline-danger" type='button' v-on:click="confirmDelete()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- VUE -->
        <!-- DEV -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- AXIOS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <!-- CUSTOME -->
        <link rel="stylesheet" href="static/style.css"/>
        <script type="text/javascript" src="static/app.js"></script>
    </body>
</html>
